.card .card-header {
    color: #EAF000;
    border: 4px solid black;
}

.card .card-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.80rem;
    border-right: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
}

.card ul {
    list-style-image: url('bullet2.gif');
}